image: python:3.9

before_script:
  - python3 -V
  - python3 -m venv .
  - source bin/activate
  - pip3 install -U pip
  - pip3 install wheel
  - pip3 install twine
  - pip3 install PyQt5
  - pip3 install PyQtWebEngine
  - pip3 install pytest
  - pip3 list
  - pip3 -V
  - apt update
  - apt install -y libgl1-mesa-dev

cache:
  paths:
    - dist/*
    - bird-browser/dist/*
test:
  stage: test
  script:
    - pytest .
    - cd bird-browser
    - pytest .
  tags:
    - x86_64
build:
  stage: build
  script:
    - mkdir appimage
    - wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O appimage/appimagetool
    - chmod +x appimage/appimagetool
    - rm -rf dist/*
    - rm -rf bird-browser/dist/*
    - python3 setup.py sdist bdist_wheel
    - ./appimage/appimagetool bird-browser/
    - cd bird-browser
    - python3 setup.py sdist bdist_wheel
  rules:
    - if:  == release
  tags:
    - x86_64
  artifacts:
    paths:
      - ./*.AppImage
deploy:
  stage: deploy
  script:
    - TWINE_PASSWORD=$pypi_access TWINE_USERNAME=__token__ python3 -m twine upload dist/*
    - TWINE_PASSWORD=$CI_JOB_TOKEN TWINE_USERNAME=gitlab-ci-token python3 -m twine upload --repository-url https://gitlab.sokoll.com/api/v4/projects/$CI_PROJECT_ID/packages/pypi dist/*
    - cd bird-browser
    - TWINE_PASSWORD=$CI_JOB_TOKEN TWINE_USERNAME=gitlab-ci-token python3 -m twine upload --repository-url https://gitlab.sokoll.com/api/v4/projects/$CI_PROJECT_ID/packages/pypi dist/*
  rules:
    - if:  == release
  tags:
    - x86_64
