image: python:3.8

before_script:
        - python3 -V
        - python3 -m venv .
        - source bin/activate
        - pip3 install wheel
        - pip3 install twine

test:
        stage: test
        script:
                - python3 setup.py test
build:
        stage: build
        script:
                - python3 setup.py sdist bdist_wheel
                - ls -alR
        rules:
                - if: '$CI_COMMIT_BRANCH == "release"'
deploy:
        stage: deploy
        script:
                - TWINE_PASSWORD=$pypi_access TWINE_USERNAME=__token__ python3 -m twine upload dist/*
                - ls -al dist
                - TWINE_PASSWORD=$CI_JOB_TOKENg TWINE_USERNAME=gitlab-ci-token python3 -m twine upload --repository-url https://gitlab.sokoll.com/api/v4/projects/$CI_PROJECT_ID}/packages/pypi dist/*
        rules:
                - if: '$CI_COMMIT_BRANCH == "release"'
test birdlib:
        stage: test
        script:
                - cd bird-browser
                - python3 setup.py test
build birdlib:
        stage: build
        script:
                - cd bird-browser
                - python3 setup.py sdist bdist_wheel
        rules:
                - if: '$CI_COMMIT_BRANCH == "release"'
deploy birdlib:
        stage: deploy
        script:
                - cd bird-browser
                - TWINE_PASSWORD=$CI_JOB_TOKENg TWINE_USERNAME=gitlab-ci-token python3 -m twine upload --repository-url https://gitlab.sokoll.com/api/v4/projects/$CI_PROJECT_ID}/packages/pypi dist/*
                - TWINE_PASSWORD=$pypi_access TWINE_USERNAME=__token__ python3 -m twine upload dist/*
        rules:
                - if: '$CI_COMMIT_BRANCH == "release"'
